In [1]:
import numpy as np
import pandas as pd
import os as os
import os
from glob import glob

In [2]:
file1= "Jan 2011.xls"
df1 = pd.read_csv(file1, sep='\t', header=1)

In [3]:
df1Top = df1[df1.duplicated(subset='Currency', keep='last')]
df1Top= df1Top.T
df1Top

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Currency,Chinese yuan,Euro(1),Japanese yen,U.K. pound(1),U.S. dollar,Algerian dinar,Australian dollar(1),Bahrain dinar,Botswana pula(1),Brazilian real,...,South African rand,Sri Lankan rupee,Swedish krona,Swiss franc,Thai baht,Trinidadian dollar,Tunisian dinar,U.A.E. dirham,Uruguayan peso,Bolivar Fuerte
"January 03, 2011",NaN,1.334800,NaN,NaN,1.000000,73.932800,NaN,0.376000,NaN,1.665400,...,6.611100,110.964300,6.740000,0.935500,NaN,6.376600,1.437900,3.672500,19.950000,NaN
"January 04, 2011",6.621500,1.342100,82.100000,1.560800,1.000000,73.918500,1.009900,0.376000,0.154800,1.650200,...,6.641550,110.942500,6.710000,0.945300,30.056000,6.391500,1.442400,3.672500,19.949000,NaN
"January 05, 2011",6.629500,1.321300,82.030000,1.559400,1.000000,74.066300,1.001400,0.376000,0.153200,1.654800,...,6.738550,110.871600,6.737500,0.951300,30.123000,6.389600,NaN,3.672500,19.950000,NaN
"January 06, 2011",6.632200,1.309100,83.220000,1.548400,1.000000,74.105900,0.996700,0.376000,0.152500,1.670500,...,6.772200,110.820000,NaN,0.967500,30.232000,6.401300,1.446800,3.672500,NaN,NaN
"January 07, 2011",6.634100,1.296100,83.330000,1.544400,1.000000,74.142000,0.993300,0.376000,0.151200,1.684900,...,6.842950,110.831400,6.870000,0.964300,30.297000,6.405900,1.455200,3.672500,NaN,NaN
"January 10, 2011",6.634900,1.290300,NaN,1.551800,1.000000,74.109600,0.995800,0.376000,0.150700,1.685300,...,6.869450,110.863800,6.922500,0.966100,30.506000,6.375100,NaN,3.672500,NaN,NaN
"January 11, 2011",6.621600,1.294800,83.080000,1.557400,1.000000,74.062700,0.984600,0.376000,0.151200,1.690400,...,6.819150,110.848700,6.870000,0.968100,30.680000,6.383500,1.470600,NaN,20.000000,NaN
"January 12, 2011",6.612800,1.297300,83.310000,1.560300,1.000000,73.606900,0.984800,0.376000,0.151200,1.687900,...,6.845300,110.828700,6.820000,0.972700,30.411000,6.397000,1.467900,3.672500,19.957000,NaN
"January 13, 2011",6.599700,1.319900,83.090000,1.576900,1.000000,72.765200,0.994700,0.376000,0.151800,1.676500,...,6.848050,110.775100,6.775000,0.972600,30.389000,6.423800,1.461900,3.672500,19.946000,4.289300
"January 14, 2011",6.589600,1.334900,82.750000,1.584800,1.000000,73.120900,0.996400,0.376000,0.150800,1.669300,...,6.930900,110.777800,6.677500,0.966700,30.489000,NaN,NaN,3.672500,19.900000,4.289300
"January 18, 2011",6.589100,1.337100,82.510000,1.599300,1.000000,73.137800,0.993900,0.376000,0.151600,1.681000,...,6.877050,110.815700,6.660000,0.960200,30.599000,6.389800,1.442900,3.672500,19.850000,4.289300

In [4]:
dfRow = df1[df1['Currency'].str.contains("Currency")].reset_index(drop=True)
dfRow

,Currency,"January 03, 2011","January 04, 2011","January 05, 2011","January 06, 2011","January 07, 2011","January 10, 2011","January 11, 2011","January 12, 2011","January 13, 2011","January 14, 2011","January 18, 2011"
0,Currency,"January 19, 2011","January 20, 2011","January 21, 2011","January 24, 2011","January 25, 2011","January 26, 2011","January 27, 2011","January 28, 2011","January 31, 2011",NaN,NaN

In [5]:
df1Bottom = df1[df1.duplicated(subset='Currency', keep='first')].reset_index(drop=True)
df1Bottom= dfRow.append(df1Bottom)
new_header = df1Bottom.iloc[0] #grab the first row for the header
df1Bottom = df1Bottom[1:] #take the data less the header row
df1Bottom.columns = new_header #set the header row as the df header
df1Bottom

,Currency,"January 19, 2011","January 20, 2011","January 21, 2011","January 24, 2011","January 25, 2011","January 26, 2011","January 27, 2011","January 28, 2011","January 31, 2011",NaN,NaN
0,Chinese yuan,6.588500,6.588300,6.588600,6.588300,6.588100,6.587800,6.587600,6.593000,6.589100,NaN,NaN
1,Euro(1),1.350600,1.347200,1.352100,1.357100,1.359600,1.368100,1.371600,1.371000,1.369200,NaN,NaN
2,Japanese yen,82.230000,82.150000,83.030000,82.770000,82.430000,82.050000,82.150000,82.720000,82.050000,NaN,NaN
3,U.K. pound(1),1.599300,1.599000,1.592900,1.594200,1.578900,1.585900,1.596100,1.592400,1.589100,NaN,NaN
4,U.S. dollar,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,NaN
5,Algerian dinar,73.087800,NaN,NaN,72.835800,72.871000,72.768900,72.624500,72.579500,72.790800,NaN,NaN
6,Australian dollar(1),1.003300,0.996600,0.986100,0.988100,0.995900,NaN,0.996400,0.989400,0.992400,NaN,NaN
7,Bahrain dinar,0.376000,0.376000,0.376000,0.376000,0.376000,0.376000,0.376000,0.376000,0.376000,NaN,NaN
8,Botswana pula(1),0.150700,NaN,0.148700,0.149400,0.149400,0.149200,0.149500,0.149200,0.148100,NaN,NaN
9,Brazilian real,1.673700,1.670600,1.670700,NaN,1.672300,1.673700,1.668400,1.671200,1.677400,NaN,NaN
10,Brunei dollar,NaN,1.288700,1.286800,1.284800,1.281100,1.280700,1.279400,1.281400,1.286500,NaN,NaN
11,Canadian dollar,0.993900,1.000100,0.994500,0.993400,0.998600,0.995300,0.994100,0.999000,1.002200,NaN,NaN
12,Chilean peso,490.670000,490.890000,494.100000,492.490000,493.140000,492.510000,490.240000,485.040000,483.320000,NaN,NaN
13,Colombian peso,"1,864.640000","1,841.900000","1,849.590000","1,838.940000","1,842.430000","1,853.710000","1,862.050000","1,858.700000","1,857.980000",NaN,NaN
14,Czech koruna,17.967000,18.117000,17.966000,17.844000,17.811000,17.697000,17.671000,17.682000,17.696000,NaN,NaN
15,Danish krone,5.517000,5.531300,5.512400,5.491900,5.482400,5.447200,5.434400,5.436900,5.444300,NaN,NaN
16,Hungarian forint,202.470000,202.380000,203.510000,202.270000,202.830000,200.550000,200.370000,198.140000,200.310000,NaN,NaN
17,Icelandic krona,117.090000,117.270000,117.000000,117.340000,117.040000,116.050000,115.960000,115.580000,116.090000,NaN,NaN
18,Indian rupee,45.380000,45.580000,45.700000,45.580000,45.530000,NaN,45.570000,45.740000,45.950000,NaN,NaN
19,Indonesian rupiah,"9,044.000000","9,068.000000","9,075.000000","9,059.000000","9,052.000000","9,038.000000","9,032.000000","9,034.000000","9,057.000000",NaN,NaN
20,Iranian rial,"10,366.000000","10,357.000000",NaN,"10,348.000000",NaN,"10,344.000000","10,338.000000",NaN,"10,352.000000",NaN,NaN
21,Israeli New Shekel,3.544000,3.599000,3.632000,3.625000,3.618000,3.600000,3.656000,3.680000,3.710000,NaN,NaN
22,Kazakhstani tenge,147.000000,146.960000,146.890000,147.010000,146.860000,146.810000,146.800000,146.780000,NaN,NaN,NaN
23,Korean won,"1,116.800000","1,112.500000","1,118.200000","1,122.000000","1,120.300000","1,117.600000","1,118.200000","1,114.300000","1,114.300000",NaN,NaN
24,Kuwaiti dinar,0.279750,0.279750,0.279750,0.279300,0.279000,0.278900,0.278800,0.278800,0.279100,NaN,NaN
25,Libyan dinar(2),1.932400,1.932400,1.932400,1.932400,1.932400,1.932400,1.932400,1.932400,1.932400,NaN,NaN
26,Malaysian ringgit,3.053500,NaN,3.062500,3.058300,3.052500,3.053500,3.051500,3.055500,3.059500,NaN,NaN
27,Mauritian rupee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Mexican peso,12.074400,12.090300,12.048200,12.051600,12.085600,12.040800,12.023900,12.121400,12.151900,NaN,NaN
29,Nepalese rupee,72.750000,72.600000,72.900000,73.000000,73.000000,73.000000,73.140000,72.950000,73.150000,NaN,NaN
30,New Zealand dollar(1),0.770800,0.767700,0.756900,NaN,0.763200,0.768800,0.772400,0.772200,0.770300,NaN,NaN
31,Norwegian krone,5.794500,5.845100,5.836800,5.808700,5.772300,5.749900,5.776500,5.786300,5.789500,NaN,NaN
32,Omani rial,0.384500,0.384500,0.384500,0.384500,0.384500,0.384500,0.384500,0.384500,0.384500,NaN,NaN
33,Pakistani rupee,85.791600,85.715900,85.826600,85.885800,85.930900,85.828700,85.875500,85.785000,85.699300,NaN,NaN
34,Peruvian sol,2.779000,2.775000,NaN,2.772000,2.775000,2.772000,2.771000,2.774000,2.771000,NaN,NaN
35,Philippine peso,44.585000,44.373000,44.464000,44.459000,44.412000,44.473000,44.420000,44.157000,44.088000,NaN,NaN
36,Polish zloty,2.887900,2.885600,2.877900,2.856100,2.855800,2.828000,2.850800,2.850100,NaN,NaN,NaN
37,Qatari riyal,3.640000,3.640000,3.640000,3.640000,3.640000,3.640000,3.640000,3.640000,3.640000,NaN,NaN
38,Russian ruble,29.825200,29.914700,30.010900,29.851600,29.794800,29.776800,29.673800,29.668400,29.801800,NaN,NaN
39,Saudi Arabian riyal,3.750000,3.750000,3.750000,3.750000,3.750000,3.750000,3.750000,3.750000,3.750000,NaN,NaN
40,Singapore dollar,1.281800,1.288700,1.286800,1.284800,1.281100,1.280700,1.279400,1.281400,1.286500,NaN,NaN
41,South African rand,6.948800,7.076000,7.109900,7.068750,7.043300,7.085900,7.063650,7.091650,7.178250,NaN,NaN
42,Sri Lankan rupee,NaN,110.812400,110.959400,111.013900,110.921600,111.909100,111.049300,111.053600,111.100700,NaN,NaN
43,Swedish krona,6.637500,6.635000,6.640000,6.612500,6.547500,6.510000,6.467500,6.470000,6.537500,NaN,NaN
44,Swiss franc,0.959200,0.954600,0.964600,0.959100,0.946200,0.943000,0.942000,0.943200,0.943100,NaN,NaN
45,Thai baht,30.470000,30.556000,30.648000,30.769000,30.991000,30.883000,30.819000,31.030000,31.151000,NaN,NaN
46,Trinidadian dollar,6.415900,6.419700,6.384200,6.389700,6.383800,6.389900,6.403000,6.408300,6.397200,NaN,NaN
47,Tunisian dinar,1.433400,1.429900,1.428300,1.423300,1.420700,1.421400,1.413800,1.415500,1.416900,NaN,NaN
48,U.A.E. dirham,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,3.672500,NaN,NaN
49,Uruguayan peso,19.850000,19.800000,NaN,19.836000,19.800000,19.750000,19.700000,19.650000,19.669000,NaN,NaN
50,Bolivar Fuerte,NaN,4.289300,4.289300,4.289300,4.289300,4.289300,4.289300,4.289300,4.289300,NaN,NaN

In [6]:
df1Bottom = df1Bottom.T
df1Bottom=df1Bottom.drop('Currency', axis=0)
df1Bottom

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,,,,,,,,,,,,,,,,,,,,,
"January 19, 2011",6.588500,1.350600,82.230000,1.599300,1.000000,73.087800,1.003300,0.376000,0.150700,1.673700,...,6.948800,NaN,6.637500,0.959200,30.470000,6.415900,1.433400,3.672500,19.850000,NaN
"January 20, 2011",6.588300,1.347200,82.150000,1.599000,1.000000,NaN,0.996600,0.376000,NaN,1.670600,...,7.076000,110.812400,6.635000,0.954600,30.556000,6.419700,1.429900,3.672500,19.800000,4.289300
"January 21, 2011",6.588600,1.352100,83.030000,1.592900,1.000000,NaN,0.986100,0.376000,0.148700,1.670700,...,7.109900,110.959400,6.640000,0.964600,30.648000,6.384200,1.428300,3.672500,NaN,4.289300
"January 24, 2011",6.588300,1.357100,82.770000,1.594200,1.000000,72.835800,0.988100,0.376000,0.149400,NaN,...,7.068750,111.013900,6.612500,0.959100,30.769000,6.389700,1.423300,3.672500,19.836000,4.289300
"January 25, 2011",6.588100,1.359600,82.430000,1.578900,1.000000,72.871000,0.995900,0.376000,0.149400,1.672300,...,7.043300,110.921600,6.547500,0.946200,30.991000,6.383800,1.420700,3.672500,19.800000,4.289300
"January 26, 2011",6.587800,1.368100,82.050000,1.585900,1.000000,72.768900,NaN,0.376000,0.149200,1.673700,...,7.085900,111.909100,6.510000,0.943000,30.883000,6.389900,1.421400,3.672500,19.750000,4.289300
"January 27, 2011",6.587600,1.371600,82.150000,1.596100,1.000000,72.624500,0.996400,0.376000,0.149500,1.668400,...,7.063650,111.049300,6.467500,0.942000,30.819000,6.403000,1.413800,3.672500,19.700000,4.289300
"January 28, 2011",6.593000,1.371000,82.720000,1.592400,1.000000,72.579500,0.989400,0.376000,0.149200,1.671200,...,7.091650,111.053600,6.470000,0.943200,31.030000,6.408300,1.415500,3.672500,19.650000,4.289300
"January 31, 2011",6.589100,1.369200,82.050000,1.589100,1.000000,72.790800,0.992400,0.376000,0.148100,1.677400,...,7.178250,111.100700,6.537500,0.943100,31.151000,6.397200,1.416900,3.672500,19.669000,4.289300
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df1Concat = pd.concat([df1Top,df1Bottom])
df1Concat

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Currency,Chinese yuan,Euro(1),Japanese yen,U.K. pound(1),U.S. dollar,Algerian dinar,Australian dollar(1),Bahrain dinar,Botswana pula(1),Brazilian real,...,South African rand,Sri Lankan rupee,Swedish krona,Swiss franc,Thai baht,Trinidadian dollar,Tunisian dinar,U.A.E. dirham,Uruguayan peso,Bolivar Fuerte
"January 03, 2011",NaN,1.334800,NaN,NaN,1.000000,73.932800,NaN,0.376000,NaN,1.665400,...,6.611100,110.964300,6.740000,0.935500,NaN,6.376600,1.437900,3.672500,19.950000,NaN
"January 04, 2011",6.621500,1.342100,82.100000,1.560800,1.000000,73.918500,1.009900,0.376000,0.154800,1.650200,...,6.641550,110.942500,6.710000,0.945300,30.056000,6.391500,1.442400,3.672500,19.949000,NaN
"January 05, 2011",6.629500,1.321300,82.030000,1.559400,1.000000,74.066300,1.001400,0.376000,0.153200,1.654800,...,6.738550,110.871600,6.737500,0.951300,30.123000,6.389600,NaN,3.672500,19.950000,NaN
"January 06, 2011",6.632200,1.309100,83.220000,1.548400,1.000000,74.105900,0.996700,0.376000,0.152500,1.670500,...,6.772200,110.820000,NaN,0.967500,30.232000,6.401300,1.446800,3.672500,NaN,NaN
"January 07, 2011",6.634100,1.296100,83.330000,1.544400,1.000000,74.142000,0.993300,0.376000,0.151200,1.684900,...,6.842950,110.831400,6.870000,0.964300,30.297000,6.405900,1.455200,3.672500,NaN,NaN
"January 10, 2011",6.634900,1.290300,NaN,1.551800,1.000000,74.109600,0.995800,0.376000,0.150700,1.685300,...,6.869450,110.863800,6.922500,0.966100,30.506000,6.375100,NaN,3.672500,NaN,NaN
"January 11, 2011",6.621600,1.294800,83.080000,1.557400,1.000000,74.062700,0.984600,0.376000,0.151200,1.690400,...,6.819150,110.848700,6.870000,0.968100,30.680000,6.383500,1.470600,NaN,20.000000,NaN
"January 12, 2011",6.612800,1.297300,83.310000,1.560300,1.000000,73.606900,0.984800,0.376000,0.151200,1.687900,...,6.845300,110.828700,6.820000,0.972700,30.411000,6.397000,1.467900,3.672500,19.957000,NaN
"January 13, 2011",6.599700,1.319900,83.090000,1.576900,1.000000,72.765200,0.994700,0.376000,0.151800,1.676500,...,6.848050,110.775100,6.775000,0.972600,30.389000,6.423800,1.461900,3.672500,19.946000,4.289300
"January 14, 2011",6.589600,1.334900,82.750000,1.584800,1.000000,73.120900,0.996400,0.376000,0.150800,1.669300,...,6.930900,110.777800,6.677500,0.966700,30.489000,NaN,NaN,3.672500,19.900000,4.289300
"January 18, 2011",6.589100,1.337100,82.510000,1.599300,1.000000,73.137800,0.993900,0.376000,0.151600,1.681000,...,6.877050,110.815700,6.660000,0.960200,30.599000,6.389800,1.442900,3.672500,19.850000,4.289300
"January 19, 2011",6.588500,1.350600,82.230000,1.599300,1.000000,73.087800,1.003300,0.376000,0.150700,1.673700,...,6.948800,NaN,6.637500,0.959200,30.470000,6.415900,1.433400,3.672500,19.850000,NaN
"January 20, 2011",6.588300,1.347200,82.150000,1.599000,1.000000,NaN,0.996600,0.376000,NaN,1.670600,...,7.076000,110.812400,6.635000,0.954600,30.556000,6.419700,1.429900,3.672500,19.800000,4.289300
"January 21, 2011",6.588600,1.352100,83.030000,1.592900,1.000000,NaN,0.986100,0.376000,0.148700,1.670700,...,7.109900,110.959400,6.640000,0.964600,30.648000,6.384200,1.428300,3.672500,NaN,4.289300
"January 24, 2011",6.588300,1.357100,82.770000,1.594200,1.000000,72.835800,0.988100,0.376000,0.149400,NaN,...,7.068750,111.013900,6.612500,0.959100,30.769000,6.389700,1.423300,3.672500,19.836000,4.289300
"January 25, 2011",6.588100,1.359600,82.430000,1.578900,1.000000,72.871000,0.995900,0.376000,0.149400,1.672300,...,7.043300,110.921600,6.547500,0.946200,30.991000,6.383800,1.420700,3.672500,19.800000,4.289300
"January 26, 2011",6.587800,1.368100,82.050000,1.585900,1.000000,72.768900,NaN,0.376000,0.149200,1.673700,...,7.085900,111.909100,6.510000,0.943000,30.883000,6.389900,1.421400,3.672500,19.750000,4.289300
"January 27, 2011",6.587600,1.371600,82.150000,1.596100,1.000000,72.624500,0.996400,0.376000,0.149500,1.668400,...,7.063650,111.049300,6.467500,0.942000,30.819000,6.403000,1.413800,3.672500,19.700000,4.289300
"January 28, 2011",6.593000,1.371000,82.720000,1.592400,1.000000,72.579500,0.989400,0.376000,0.149200,1.671200,...,7.091650,111.053600,6.470000,0.943200,31.030000,6.408300,1.415500,3.672500,19.650000,4.289300
"January 31, 2011",6.589100,1.369200,82.050000,1.589100,1.000000,72.790800,0.992400,0.376000,0.148100,1.677400,...,7.178250,111.100700,6.537500,0.943100,31.151000,6.397200,1.416900,3.672500,19.669000,4.289300
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df = df1Concat.dropna(axis = 0, how ='all')
df

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
Currency,Chinese yuan,Euro(1),Japanese yen,U.K. pound(1),U.S. dollar,Algerian dinar,Australian dollar(1),Bahrain dinar,Botswana pula(1),Brazilian real,...,South African rand,Sri Lankan rupee,Swedish krona,Swiss franc,Thai baht,Trinidadian dollar,Tunisian dinar,U.A.E. dirham,Uruguayan peso,Bolivar Fuerte
"January 03, 2011",NaN,1.334800,NaN,NaN,1.000000,73.932800,NaN,0.376000,NaN,1.665400,...,6.611100,110.964300,6.740000,0.935500,NaN,6.376600,1.437900,3.672500,19.950000,NaN
"January 04, 2011",6.621500,1.342100,82.100000,1.560800,1.000000,73.918500,1.009900,0.376000,0.154800,1.650200,...,6.641550,110.942500,6.710000,0.945300,30.056000,6.391500,1.442400,3.672500,19.949000,NaN
"January 05, 2011",6.629500,1.321300,82.030000,1.559400,1.000000,74.066300,1.001400,0.376000,0.153200,1.654800,...,6.738550,110.871600,6.737500,0.951300,30.123000,6.389600,NaN,3.672500,19.950000,NaN
"January 06, 2011",6.632200,1.309100,83.220000,1.548400,1.000000,74.105900,0.996700,0.376000,0.152500,1.670500,...,6.772200,110.820000,NaN,0.967500,30.232000,6.401300,1.446800,3.672500,NaN,NaN
"January 07, 2011",6.634100,1.296100,83.330000,1.544400,1.000000,74.142000,0.993300,0.376000,0.151200,1.684900,...,6.842950,110.831400,6.870000,0.964300,30.297000,6.405900,1.455200,3.672500,NaN,NaN
"January 10, 2011",6.634900,1.290300,NaN,1.551800,1.000000,74.109600,0.995800,0.376000,0.150700,1.685300,...,6.869450,110.863800,6.922500,0.966100,30.506000,6.375100,NaN,3.672500,NaN,NaN
"January 11, 2011",6.621600,1.294800,83.080000,1.557400,1.000000,74.062700,0.984600,0.376000,0.151200,1.690400,...,6.819150,110.848700,6.870000,0.968100,30.680000,6.383500,1.470600,NaN,20.000000,NaN
"January 12, 2011",6.612800,1.297300,83.310000,1.560300,1.000000,73.606900,0.984800,0.376000,0.151200,1.687900,...,6.845300,110.828700,6.820000,0.972700,30.411000,6.397000,1.467900,3.672500,19.957000,NaN
"January 13, 2011",6.599700,1.319900,83.090000,1.576900,1.000000,72.765200,0.994700,0.376000,0.151800,1.676500,...,6.848050,110.775100,6.775000,0.972600,30.389000,6.423800,1.461900,3.672500,19.946000,4.289300
"January 14, 2011",6.589600,1.334900,82.750000,1.584800,1.000000,73.120900,0.996400,0.376000,0.150800,1.669300,...,6.930900,110.777800,6.677500,0.966700,30.489000,NaN,NaN,3.672500,19.900000,4.289300
"January 18, 2011",6.589100,1.337100,82.510000,1.599300,1.000000,73.137800,0.993900,0.376000,0.151600,1.681000,...,6.877050,110.815700,6.660000,0.960200,30.599000,6.389800,1.442900,3.672500,19.850000,4.289300
"January 19, 2011",6.588500,1.350600,82.230000,1.599300,1.000000,73.087800,1.003300,0.376000,0.150700,1.673700,...,6.948800,NaN,6.637500,0.959200,30.470000,6.415900,1.433400,3.672500,19.850000,NaN
"January 20, 2011",6.588300,1.347200,82.150000,1.599000,1.000000,NaN,0.996600,0.376000,NaN,1.670600,...,7.076000,110.812400,6.635000,0.954600,30.556000,6.419700,1.429900,3.672500,19.800000,4.289300
"January 21, 2011",6.588600,1.352100,83.030000,1.592900,1.000000,NaN,0.986100,0.376000,0.148700,1.670700,...,7.109900,110.959400,6.640000,0.964600,30.648000,6.384200,1.428300,3.672500,NaN,4.289300
"January 24, 2011",6.588300,1.357100,82.770000,1.594200,1.000000,72.835800,0.988100,0.376000,0.149400,NaN,...,7.068750,111.013900,6.612500,0.959100,30.769000,6.389700,1.423300,3.672500,19.836000,4.289300
"January 25, 2011",6.588100,1.359600,82.430000,1.578900,1.000000,72.871000,0.995900,0.376000,0.149400,1.672300,...,7.043300,110.921600,6.547500,0.946200,30.991000,6.383800,1.420700,3.672500,19.800000,4.289300
"January 26, 2011",6.587800,1.368100,82.050000,1.585900,1.000000,72.768900,NaN,0.376000,0.149200,1.673700,...,7.085900,111.909100,6.510000,0.943000,30.883000,6.389900,1.421400,3.672500,19.750000,4.289300
"January 27, 2011",6.587600,1.371600,82.150000,1.596100,1.000000,72.624500,0.996400,0.376000,0.149500,1.668400,...,7.063650,111.049300,6.467500,0.942000,30.819000,6.403000,1.413800,3.672500,19.700000,4.289300
"January 28, 2011",6.593000,1.371000,82.720000,1.592400,1.000000,72.579500,0.989400,0.376000,0.149200,1.671200,...,7.091650,111.053600,6.470000,0.943200,31.030000,6.408300,1.415500,3.672500,19.650000,4.289300
"January 31, 2011",6.589100,1.369200,82.050000,1.589100,1.000000,72.790800,0.992400,0.376000,0.148100,1.677400,...,7.178250,111.100700,6.537500,0.943100,31.151000,6.397200,1.416900,3.672500,19.669000,4.289300

In [9]:
df.to_csv('Jan 2011.csv')